body{
    background:yellow;

}
h1{
    background-color: green;
    color:maroon;
}
h2{
    background-color: orange;
    color: rgb(red, green, blue);
}

    ol{
        background-color:cyan;
        width: 300px;
        margin: 100px auto;
    }
    li:snake{
    background-color:white;
    }
    h3{
        color: turquoise;
        background-color: tomato;
        width: 50px;
        margin: 200;
    }
    table {
        border-collapse: separate;
        text-indent: initial;
        white-space: pre;
        font-size: initial;
        font-family: monospace;
        tab-size: 4;
        border-spacing: 0px;
    }
    